body {
   font-family: 'Open Sans', sans-serif;
}
p, h1, li {
font-family: 'Open Sans', sans-serif;
}
.card {
	text-align: left;
	margin-top: 50px!important;
	width: 70%;
	margin: auto;
}
@media (max-width: 767px) {
  .card {
	text-align: left;
	margin-top: 25px!important;
	width: 100%;
	margin: auto;
	}
}
.todo .list-group-item:first-child {
	background-color: lightgrey;
	color: black;
}
.list-group-item:first-child {
	background-color: grey;
	color: white;
	text-align: center;
}
.list-group-item .title-list-group-item {
	font-weight: bold;
	font-size: 20px;
	padding: 0!important;
	color: #333;
	text-align: center;
}
.list-group-item .content-list-group-item {
	padding-left: 2%;
}


.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}
.btn-primary {
	background: linear-gradient(to left, #48c6ef, #6f86d6);
	border: none;
}
.btn-success {
	background: linear-gradient(to left, #11998e, #38ef7d);
	border: none;
}
.btn-primary:hover {
	background: linear-gradient(to left, #6f86d6, #48c6ef);
	border: none;
}
.btn-success:hover {
	background: linear-gradient(to left, #38ef7d, #11998e);
	border: none;
}