{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<h2 style="text-align: center;">Accueil</h2>
    <a href="{{ path('security_login')}}"> Connexion</a>
{% endblock %}
