{% extends 'base.html.twig' %}

{% block title %}My Wod Journal{% endblock %}

{% block body %}
	<div class="first-img-index">
		<img src="{{ asset('libraries/images/first-img-index.png') }}" style="width: 100%; height: 100%;">
			<h1 class="title-index">Bienvenue sur My WOD Journal <br />
				Votre suivi sportif au quotidien, <br />prêt à casser votre routine !</h1>
			<div id="email-homepage"> <input type="email" id="input-email-homepage" placeholder="   Entrez votre adresse email"><button type="submit" class="btn btn-primary btn-lg" id="btn-homepage">J'ESSAYE !</button></div>
	</div>
	<div class="description-homepage-before">
	</div>
	<div class="description-homepage">
		<h4 class="content__title">PARTAGEZ</h4>
      <p><em> Partagez vos entrainements avec toute la communauté et échangez avec eux sur vos ressentis. Chaque séance enregistrée sera un pas de plus vers le progression grâce aux conseils des autres membres.</em><br /><br />

      </p>	<h4 href={{ path('user_registration') }} ><button type="submit" class="btn btn-primary btn-lg" id="btn-homepage">JE PARTAGE</button></h4>
	</div>
	<div class="description-homepage-white">
		<h4 class="content__title">INSPIREZ-VOUS</h4>
      <p><em>
	Brisez votre routine et inspirez-vous des entrainements des autres membres de la communauté. Commentez, likez, échangez avec d'autres sportifs pour paufiner vos entrainements et vos techniques.</em><br /><br />


</p><h4 href={{ path('community') }} ><button type="submit" class="btn btn-primary btn-lg" id="btn-homepage">JE M'INSPIRE</button></h4>
	</div>

{% endblock %}